<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="" id="app">
      <div class="column is-12">
      <label class="label" for="email">Email</label>
      <p :class="{ 'control': true }">
          <input v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('email') }" name="email" type="text" placeholder="Email">
          <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
      </p>
    </div>
    </div>
    <script src="vue/vue.js" type="text/javascript"></script>
    <script src="vue/vee-validate.js" type="text/javascript"></script>
    <script>
        Vue.use(VeeValidate); // good to go.
    </script>
    <script src="vue/app.js" type="text/javascript"></script>

  </body>
</html>
